<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TodoList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TodoList</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->


<ion-header>
  <ion-toolbar>
    <ion-title>Todo List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let todo of todoList">
      {{ todo }}
    </ion-item>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="add()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
